.group-card {

  margin-top: 80px;
  opacity: .9;
  text-align: center;
  box-shadow: 15px 15px 10px grey;
  transition: 0.25s ease box-shadow, 0.25s ease transform;

}

.group-card:hover {
    cursor:pointer;
    box-shadow: 15px 15px 10px grey;
    transform: scale(1.025)

} 

.btn-primary, .btn-primary:hover,  .btn-primary:visited {
  background-color: #30374e !important;
  color: white;
}

.add-person-header {
  padding-top: 25px
}






