.group-card {

  margin-top: 80px;
  opacity: .9;
  text-align: center;
  box-shadow: 15px 15px 10px grey;
  transition: 0.25s ease box-shadow, 0.25s ease transform;

}

.group-card:hover {
    cursor:pointer;
    box-shadow: 15px 15px 10px grey;
    transform: scale(1.025)

} 

.btn-primary, .btn-primary:hover,  .btn-primary:visited {
  background-color: #30374e !important;
  color: white;
}

.wishlist-card {
  padding: 15px;
}


.btn-dark {
  background-color:darkgrey !important;
  color: white;
  outline:  #696a6f;
  box-shadow: 5px 5px 10px grey;
  max-width: 100px;
  border: none;
}

.wishlist-card {
  box-shadow: 5px 5px 10px grey;
}



