/* ////////////////////////////// */
        /* Pages CSS */
/* ////////////////////////////// */

/* Main Group Page CSS  */


.group-main-title {
    text-align: center;
}


/* ////////////////////////////// */
        /* Component CSS */
/* ////////////////////////////// */

/* Create Group Component  */

.create-group-modal {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    background-color:#80E0F3;
    color: white;
    border-radius: 25px;
    padding: 15px 10px;
}

.create-titles {
    padding: 5px;
}

.create-group-button {
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 25px;
    background-color: white;
    color: #4C5051;
    border: none;
    width: 100px;
}

/* Find Group Component  */

.find-group-modal {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    background-color:#80E0F3;
    color: white;
    border-radius: 25px;
    padding: 15px 10px;
}

.find-title-main {
    margin-bottom: 20px;
}

.find-title-name {
    margin-bottom: 10px;
}

.find-title-password {
    margin-top: 10px;
    margin-bottom: 5px;
}

.find-group-button {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    border-radius: 25px;
    background-color: white;
    color: #4C5051;
    border: none;
    width: 100px;
}

/* Add Members Component */

.add-members-modal {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    background-color:#80E0F3;
    color: white;
    border-radius: 25px;
    padding: 15px 10px;
}


.add-title-main {
    margin-top: 30px;
}

.members-add-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-member-button {
    margin-top: 10px;
    border-radius: 25px;
    background-color: white;
    color: #4C5051;
    border: none;
    width: 70px;
}

/* Display Members Component */

.members-display-modal {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    background-color:#80E0F3;
    color: white;
    border-radius: 25px;
    padding: 15px 10px;
}

.name-display {
    font-size: x-large;
    list-style: none;
    margin-left: -30px;
}


.display-members-title {
    margin-top: -100px;
}

/* Display Wishlist Component */

.modal-wishlist, h6 {
    color: gray;
}

.modal-description {
    color: gray;
}

.description-modal-title {
    margin-left: -380px;
}

.description-modal-textarea {
    width: 470px;
    margin-left: -5px;
}